body{
    background-color: rgba(200, 198, 198, 0.871);
    font-family: "roboto" ,sans-serif;
}

header{
    border-bottom: 1px solid #f9f7fe;
    padding:0 0 20px 0;
}

a{
    color: #885df1;
}

main{
    padding: 0 30px;

}

.weather-app-city{
    margin: 0;
    font-size: 38Px;
    line-height: 48px;
}

.weather-app-details{
    margin: 0;
    font-size: 16Px;
    line-height: 24px;
    color:rgba(39 ,33 ,66 ,0.4);
    font-weight: 500;
}

.weather-app-details strong{
    color: crimson;
}

.weather-app-data{
    display: flex;
    justify-content:space-between;
}

.weather-app{
    background: white;
    max-width: 700px;
    margin: 45px auto;
    padding: 45px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.0.08);
    border-radius: 16px;
}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-icon {
   width:80px;
   height:80px;
   margin-right:5px;
   margin-top:15px;
}

.weather-app-temperature{
    font-size: 88px;
    font-weight: bold;
    margin-left: 6px;
}

.weather-app-unit{
    margin-top: 10px;
    font-size: 28px;
}

.search-form-input{
    background-color: rgba(200, 198, 198, 0.871);
    border: none; 
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
}

.search-form-button{
    background-color:mediumpurple;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    margin-left: 6px;
    font-size: 14px;
}
.weather-forecast{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.weather-forecast-date{
    text-align: center;
    color: dimgray;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}
.weather-forecast-temperatures{
  text-align: center;
  color: crimson;
  margin-top: 10px;
  margin-bottom:10px;
  display: flex;
  justify-content: center;


}
.weather-forecast-temperature{
        padding: 0 10px;

}
footer{
    border-top: 1px solid #f9f7fe;
    padding:20px 0  0 0 ;
    text-align: center;
    font-size: 13px;
    color: rgba(0 ,0 ,0 ,0.6);
}