body{
    background-color: rgba(200, 198, 198, 0.871);
}
.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 45px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.0.08);
    border-radius: 16px;
}