body{
    background-color: rgba(200, 198, 198, 0.871);
    font-family: "roboto" ,sans-serif;
}

header{
    border-bottom:1px rgba(200, 198, 198, 0.871);
    padding:0 0 30px 0;
}

a{
    color: #885df1;
}

main{
    padding: 0 30px;

}

.weather-app-city{
    margin: 0;
    font-size: 38Px;
    line-height: 48px;
}

.weather-app-details{
    margin: 0;
    font-size: 16Px;
    line-height: 24px;
    color:rgba(39 ,33 ,66 ,0.4);
    font-weight: 500;
}

.weather-app-details strong{
    color: crimson;
}

.weather-app-data{
    display: flex;
    justify-content:space-between;
}

.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 45px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.0.08);
    border-radius: 16px;
}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-icon{
   width:88px;
   height: 88px;
}

.weather-app-temperature{
    margin-left: 10px;;
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}

.weather-app-units{
    margin-top: 6px;
    font-size: 28px;
}

.search-form-input{
    background-color: rgba(200, 198, 198, 0.871);
    border: none; 
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
}

.search-form-button{
    background-color:mediumpurple;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    margin-left: 6px;
    font-size: 14px;
}

footer{
    border-top:1px rgba(200, 198, 198, 0.871);
    padding:30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0 ,0 ,0 ,0.6);
}